* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Barlow', sans-serif;
  background-color: #eee;
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
  font-size: 1.6rem;
  font-weight: normal;
}
